.container {
  text-align: center;
  align-items: center;
}
#gui {
  background-color: green;
}
body {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}
#bang {
  text-align: center;
  justify-content: center;
}
