.matran {
  position: relative;
  width: 100%;
}

.matran img {
  width: 100%;
  display: block;
}

.menu a {
  position: absolute;

  color: #00aaff;
  text-decoration: none;

  font-size: 40 px;
  font-weight: bold;

  padding: 10px 20px;

  border: 2px solid #00aaff;
  border-radius: 15px;

  background: rgba(0, 0, 0, 0.4);

  box-shadow: 0 0 15px #00aaff;
}

.home {
  bottom: 30px;
  left: 100px;
}

.ql {
  bottom: 30px;
  left: 40%;
}

.debug {
  bottom: 30px;
  right: 100px;
}
