.card {
  text-align: center;
  background-color: white;
}
.card img {
  width: 40%;
  height: 40%;
  background-color: aliceblue;
  display: block;
  margin: 0 auto 15px auto;
}
.card h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  background-color: aliceblue;
  text-align: center;
}
